{% extends "base.html" %}

{% block content %}


{#    {%  for pack in packs  %}#}
{#        <li> {{ pack.ipa_path }}</li>#}
{#        <dt>#}
{#            <a href="/app/{{ app.id }}"> {{ app.app_name }}</a>#}
{#        </dt>#}
{#        <button onclick="">Install</button>#}
{#        <a href="itms-services://?action=download-manifest&url=http://ryan-server.local:8000/app/install/?pack_id={{ pack.id }}"></a>#}
{#        <a href="itms-services://?action=download-manifest&url=http://ryan-server.local:8000/app/install/?pack_id={{ pack.id }}"></a>#}

{#    {% endfor %}#}

{% endblock %}