

.rounded_icon {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    height: 65px;
    width:  65px;
    margin-top: 10px;
    margin-left:10px
}


.install_button {
    /*border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);*/
    /*height: 65px;*/
    /*width:  65px;*/
    /*margin-top: 10px;*/
    /*margin-left:10px;*/
    'position': 'absolute',
    'left': '200px',
    'top': '50px',
    'width': '150.0px',
    'height': '38.0px',
    'line-height': '38.0px'
}